{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
        <p>Currently logged in as: {{ user.username }} :3!</p>
        
        <!-- Sign out button -->
        <div class="text-center">  
            <a href="{% url "sign-out" %}">
                <button class="btn btn-primary px-4">Sign Out</button>
            </a>  
        </div>

    {% else %}
        <!-- Sign in form -->
        <div class="container mt-5">
            <div class="row">
                <div class="card p-3">
                    <h2 class="text-center">Sign In</h2>
                    {% if error %}
                        <p>{{ error }}</p>
                    {% endif %}
                    
                    <form  method="post">
                        {% csrf_token %}

                        <!-- Form -->
                        <div class="text-center">
                            {{ form.as_p }}
                        </div>

                        <!-- Submit button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-4">Sign In</button>
                        </div>
                    </form>

                    <!-- Sign up button -->
                    <div class="text-center">
                        <a href="{% url "sign-up" %}">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </a>
                    </div>
                </div>  
            </div>
        </div>      
    {% endif %}

{% endblock %}

