{% extends 'base.html' %}

{% block content %}
<form id="temp" >
    {% csrf_token %}
    
    <button type="submit">send json event</button>
</form>

<script>
    var CSRF_TOKEN = "{{ csrf_token }}";
</script>

<script>
    console.log("running script");
    let form = document.getElementById("temp");
    form.addEventListener("submit", (event) => {
        event.preventDefault();
        console.log("making json")
        const json = {
            "pk":"6",
            "model": "app.event",
            "fields": {
                "start_key": "aaaaa",
                "end_key": "aaaaa",
                "event_type": "racist",
                "event_date": "0001-01-01",
                "event_time": "00:00:00",
                "event_location": "aaaaa",
                "organiser": "temp",
                "expected_attendance": 1,
                "actual_attendance": 2,
                "maximum_attendance": 3,
                "approved": false
            }
        };
        console.log("json constructed")
        baseOfUrl = window.location.href.substring(0, window.location.href.indexOf("?"));
        baseOfUrl = window.location.href;
        fetch(baseOfUrl + "/post", { method: "POST", headers: {"Content-Type": "application/json", "X-CSRFToken": CSRF_TOKEN }, body: JSON.stringify(json), credentials:"same-origin"});
    });
    console.log("event listener added");
</script>

<!-- <script type="text/javascript" src="../static/js/tempEventSubmission.js"></script> -->
{% endblock %}